body {
    margin: 20px 0 0 0;
}
.header {

}
.main-nav li{
    float: left
}
.banner-container{
    padding: 15px 0;
}
.banner-container img{
    max-height: 200px;
}
.label-area {
    float: left;
}
.field-area{
    float: right;
    width: 50%;
}
.full-width {
    width: 100%;
}
.button-padding {
    padding-left: 30px;
    padding-right: 30px;

}

.login-container {

}
@media (min-width : 481px) {
    .login-container {
        max-width: 481px;
    }
}
